@font-face {
    font-family: Mont;
    src: url(/static/res/mont.otf);
}

@font-face {
    font-family: Young;
    src: url(/static/res/young.ttf);
}

@font-face {
    font-family: SpaceMono;
    src: url(/static/res/spacemono.ttf);
}

html {
    font-size: 20px;
}

body {
    margin: 0px;
    font-family: Young;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.hero {
    padding: 9rem 0px 0px;
    height: 32.9rem;
    background:
        linear-gradient(
            222.59deg,
            rgba(85, 255, 122, 0.7) 5.89%,
            rgba(0, 194, 255, 0.7) 52.1%,
            rgba(172, 89, 255, 0.7) 98.85%
        ),
        url(/static/res/hero-photo.jpeg) center center,
        #000000
        no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 194, 255, 0.2);
}

.hero-title-container {
    color: #FFFFFF;
    margin: 0px;
    display: inline-block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero img {
    display: block;
    margin: 0px auto;
    height: 5rem;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero h1 {
    font-family: Mont;
    font-size: 4rem;
    letter-spacing: -0.03em;
    margin: 0px;
}

.hero h2 {
    font-size: 1.5rem;
    letter-spacing: -0.05em;
    margin-top: -0.4rem;
}

.hero-input-button-container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 32rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0px;
    vertical-align: top;
    display: inline-block;
}

.hero-input-button-container input {
    width: calc(100% - 6.6rem);
    height: 100%;
    background: #FFFFFF;
    border: none;
    margin-right: 0px;
    padding: 0.4rem 1.3rem 0px;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: -0.05em;
    border-radius: 0px;
}

.hero-input-button-container input::placeholder {
    color: #80A5C1;
}

.hero-input-button-container button {
    width: 6.6rem;
    height: 100%;
    border: none;
    background: linear-gradient(180deg, #1CE277 0%, #26A74A 100%);
    color: #FFFFFF;
    font-size: 1.3rem;
    letter-spacing: -0.02em;
    vertical-align: top;
    padding: 8px 0px 0px;
}

.hero-input-button-container button:hover {
    cursor: pointer;
}
.hero-input-button-container button:active {
    background: linear-gradient(180deg, #26A74A 0%, #1CE277 100%);
}

.advanced-options-button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1.3rem;
    letter-spacing: -0.05em;
    margin-top: 0.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advanced-options-button:hover {
    cursor: pointer;
}

#error-message {
    margin-top: 20px;
    font-size: 1.2rem;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(152, 0, 0, 0.75);
}

.content {
    background: linear-gradient(180deg, #FFFFFF 0%, #DDE9EA 190.38%);
}

.statistics {
    width: 33rem;
    margin: 3rem auto 0px;
    text-align: center;
}

.details {
    width: 26rem;
    margin: 0 auto;
}

.statistics p {
    display: inline-block;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.03em;
    margin: 0px;
    vertical-align: bottom;
}

.statistics .statistic-links-shortened {
    margin-right: 4rem;
}

.statistics .statistic-clicks {
    margin-bottom: 2.6rem;
}

.statistics .statistic-custom-links {
    margin-left: 4rem;
}

.statistics strong {
    background:
        linear-gradient(
            222.59deg,
            rgba(85, 255, 122, 0.7) 5.89%,
            rgba(0, 194, 255, 0.7) 52.1%,
            rgba(172, 89, 255, 0.7) 98.85%
        ),
        url(/static/res/hero-photo.jpeg) center center,
        #000000;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: SpaceMono;
    font-size: 1.8rem;
    letter-spacing: -0.03em;
}

.details h2 {
    display: inline-block;
    font-size: 1.6rem;
    margin: 3.6rem 0px 2.3rem;
    background:
        linear-gradient(
            222.59deg,
            rgba(85, 255, 122, 0.7) 5.89%,
            rgba(0, 194, 255, 0.7) 52.1%,
            rgba(172, 89, 255, 0.7) 98.85%
        ),
        url(/static/res/hero-photo.jpeg) center center,
        #000000;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.details h2:first-of-type {
    margin-top: 5.6rem;
}

.details p {
    font-size: 1rem;
    margin: 1rem 0px;
}

.details p:first-of-type {
    margin-top: 0px;
}

.details p strong {
    font-size: 1.3rem;
}

.details a {
    color: #000000;
}

.drawing-label-table {
    width: 26rem;
    font-size: 1rem;
    letter-spacing: -0.03em;
}

.drawing-label-pair {
    text-align: center;
    margin: 0px;
}

.drawing-label-pair-double {
    width: 50%;
}

.drawing-label-pair-triple {
    width: 33%;
}

.drawing-label-pair img {
    margin: 2rem 0px 1.8rem;
}

.drawing-label-pair-double img {
    height: 7.3rem;
}

.drawing-label-pair-triple img {
    height: 4.5rem;
}

.drawing-label-table tr:first-of-type img {
    margin-top: 0px;
}

.details .final-enjoy-header {
    display: block;
    font-family: Mont;
    font-size: 3rem;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 10rem 0px 0px;
    overflow: hidden;
}

.final-spacer {
    margin: 0px;
    height: 16rem;
    display: block;
}

.modal {
    position: absolute;
    display: inline-block;
    width: 33rem;
    height: 20rem;
    background: linear-gradient(194.13deg, #1EA9A9 14.65%, #1E80A9 59.69%, #312F85 129.6%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    left: calc(50% - 16.5rem);
    top: -25rem;
    z-index: 1;
}

.modal table {
    margin: 3.2rem auto 0px;
}

.modal-input-group {
    width: 11.6rem;
    height: 3.8rem;
    margin: 0px;
    display: inline-block;
}

tr:first-of-type .modal-input-group {
    margin-bottom: 1.93rem;
}

tr td:first-of-type .modal-input-group {
    margin-right: 2.6rem;
}

.modal input, .modal select {
    font-size: 0.8rem;
    margin: 0.8rem 0px 0px;
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    border: none;
    height: 1.8rem;
    padding: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal select {
    display: block;
    width: 100%;
}

.modal input {
    width: 7.8rem;
    padding-left: 0.3rem;
    margin-top: 0.5rem;
    vertical-align: bottom;
}

#custom-shortlink-input-container {
    display: none;
}

.modal-done-button {
    width: 5.3rem;
    height: 2.6rem;
    background: linear-gradient(180deg, #1CE277 0%, #26A74A 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0.3rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 0.25rem 0px 0px;
    letter-spacing: -0.02em;
    display: block;
    cursor: pointer;
    margin: 2.6rem auto 0px;
}

.modal-done-button:active {
    background: linear-gradient(180deg, #26A74A 0%, #1CE277 100%);
}

@media only screen and (max-width: 700px) {
    .hero-input-button-container {
        width: 91.42%;
    }

    .modal {
        width: 90%;
        left: calc(5%);
    }

    tr td:first-of-type .modal-input-group {
        margin-right: 1.3rem;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 10px;
    }

    .hero-input-button-container input {
        width: calc(100% - 7.8rem);
        font-size: 1.7rem;
    }

    .hero-input-button-container button {
        font-size: 1.7rem;
        padding-top: 2px;
        width: 7.8rem;
    }

    .statistics {
        width: 30rem;
    }

    .statistics .statistic-links-shortened {
        margin-right: 2rem;
    }

    .statistics .statistic-custom-links {
        margin-left: 2rem;
    }

    .details h2 {
        font-size: 2rem;
    }

    .details p strong {
        font-size: 1.7rem;
    }

    .details p {
        font-size: 1.5rem;
    }
}
