<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id={{analyticsKey}}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', "{{analyticsKey}}");
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
        >
        <title>Qwala 404 (Page Not Found)</title>
    </head>
    <body class="text-center mx-auto my-5 w-75">
        <p class="display-4">
            404 (Page Not Found)
        </p>
        <p>
            The page you are looking for is not available! Please check
            the URL and try again.
        </p>
    </body>
</html>
